body {
    background-color: rgb(252, 224, 149);


}

ul {
    background-color: rgb(248, 175, 65);
    list-style: none;
    /* padding: 8px; */
    margin: 0;
    padding: 3px;

}

.noDefault {

    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none; /* Remove underline */
    color: inherit;
    /* margin: 5px; */
}

ul {

    display: flex;
    justify-content: left;
    
}
li{
    border: 2px;
    font-size: 30px ;
    margin-right: 10px;
    /* padding: 8px ; */
    
}
li :hover{

    background-color: rgb(165, 136, 42);
}